td h3,h2 {
  pointer-events:none;
}

.msm, h2{
  background: #ffaaaa;
  text-align:center;
}

.col {
  width:160px;
  vertical-align: top;
  background:#dddddd;
}

.col a {
    display: block;
    width:100%;
    height:100%;
    padding: 0px;
}
.col a:hover {
    background: #ffffff;
}

.gov {
  background: #ffff00;
}

.edu {
  background: #aaffaa;
}

.hr {
  background: #00ff00;
}

.fin {
  background: #00ffff;
}

.hs {
  background: #aaaaff;
}

.fac {
  background: #dddddd;
}