td h3,h2 {
  pointer-events:none;
}

.msm {
  background: #182673;
  color: #ffffff;
  text-align:center;
}

.msm h2, .msm h3 {
  background: transparent;
  color: #ffffff;
}

.col {
  width:160px;
  vertical-align: top;
  background:#dddddd;
}

.col:hover, .msm:hover {
  background:#101010;
  color:#ffffff;
}

.gov {
  background: #ffff00;
}

.edu {
  background: #aaffaa;
}

.hr {
  background: #00ff00;
}

.fin {
  background: #00ffff;
}

.hs {
  background: #aaaaff;
}

.fac {
  background: #dddddd;
}